@import url("../icons.css");

/*Logo should be < 240x60*/
.navigationBar .logo {
	background:transparent url('logo.png') no-repeat top left;
}

/* Loading icon used in splash*/
.loadingIcon {
	/*width: 48px;height: 48px;*/
	/*background:transparent url('rotatingleaf.gif') no-repeat top left;*/
	width: 212px; height: 60px;
	background:transparent url('logo.png') no-repeat top left;
}

/*Skelleton*/
.tundra .dijitSplitterV, .tundra .dijitSplitterH,
.simpleFolio, .confolioPanel {
	background: #588558;
}

/*Background*/
.mainPanel,
.navigationBar,
.shamePresentationMode .shameValue {
	background: white;
}

/*Selection and background of editors*/
.tundra .annotationprofileeditor.dijitDialog .dijitDialogPaneContent,
.cleanList.listView .listEntry.selected,
.folioTreeLabelSelected,
.iconOverview div.selected {
	background: lightgrey;
}

/* Borders*/
.iconOverview div.selected,
.annotationprofileeditor .editTab,
.annotationprofileeditor .editTabEditStateButtons {
	border-color: #30AF9A;
}

.breadcrumbs .crumb,
.breadcrumbs .listMode,
.breadcrumbs {
	border-color: #588558;
}

.listView *,
.details *,
.listView .butsCls *,
.folioTreeLabelSelected,
.shameRoot {
	border-color: #30AF9A;
	border-style: solid;
	border-width: 0px;
}

.listView .listHead,
.listView .listControls,
.details .top .resourceSpace,
.details .top .url,
.details .center .bottom {
	background: #D8EBD7;
}

.details .center .extInfoPane > div:first-child, /*first-child selectors separate because of ie6*/
.details .center .locInfoPane > div:first-child {
	background: #D8EBD7;
}

.editStateColor .mandatory.missing .shameLabel,
.mandatory.missing>.shameLabel {
	background: red;	
}

.editStateColor .mandatory>.shameLabel,
.annotationprofileeditor .editStateColor .editTabEditStateButtons .mandatory {
	background: #A68253;
}

.editStateColor .recommended>.shameLabel,
.annotationprofileeditor .editStateColor .editTabEditStateButtons .recommended {
	background: #BF9F73;
}

.editStateColor .optional>.shameLabel,
.annotationprofileeditor .editStateColor .editTabEditStateButtons .optional {
	background: #E1D9CD;
}

div.commentPane {
	position: relative;
	overflow: auto;
	max-height: 300px;
	width: 100%;
}

.cleanList.listView .clickable .titleCls, .cleanList.listView .butsCls span:hover {
	cursor: pointer;
	text-decoration: none;
}

.viewController{
	background: #ffffff;
}

.confolio {
	background: #588558;
}
.area1 .area2 .area3 {
	background: #ffffff;
}
/* Overwriting the declaration done in clean.css */
.confolio .roundHeader {
	background: #588558;
}