/* Navigation CSS Document ================================================================================ */

.header-menu {
	float:right;
	overflow:hidden;
	padding:18px 0 0 0;
}
.header-menu ul {
	margin:0;
	width:auto;
}
.header-menu ul li {
	float:left;
	padding:0 20px;
}
.header-menu ul li:last-child {
	padding-right:0;
}
.header-menu ul li a {
	text-decoration:none;
	font-family:Arial, Verdana;
	font-size:18px;
	font-weight:bold;
	color:#fcfcfc;
}
.header-menu ul li a:hover, .header-menu ul li a.active {
	border-bottom:3px solid #FFFFFF;
}
