/*----------- NavigationBar ---------------*/
.navigationBar {
	padding-top: 3px;
	border-bottom-style: solid;
	border-bottom-width: 5px;
}
.navigationBar .logo {
	display: block;
	width: 240px;
	height: 60px;
}

.navigationBar .appName {
	position: absolute;
	left: 85px;
	top: 5px;
	font-size: xx-large;
}

.navigationBar .appSentence {
	position: absolute;
	left: 85px;
	top: 40px;
}

.navigationBar .area1 {
	position: absolute;
	top: 10px;
	right: 5px;
}

.navigationBar .area2 {
	position: absolute;
	bottom: 11px;
	right: 1em;
}

.navigationBar .control {
	display: none;
}

.navigationBar .logo {
	margin-left: 5px;
}

.navigationBar .area3 {
	position: absolute;
	bottom: 4px;
	left: 240px;
}

.navigationBar .searchField {
	width:200px;
	font-size: larger;
	vertical-align: middle;
}

.navigationBar .link.user {
	font-style: italic;
	margin-left: 0px;
}

.navigationBar .contextLabel {
	margin-left: 1em;
}

.navigationBar .link {
	text-decoration: none;	
}

.navigationBar .link,
.navigationBar span.block{
	margin-right: 0.7em;
	margin-left: 0.7em;
}

.navigationBar .link:hover {
	cursor: pointer;
	text-decoration: underline;
}

/*-----------Slim--------------------*/

.navigationBar.slim .appName {
	font-size: x-large;
	left: 50px;
	top: 6px;
}
.navigationBar.slim .appSentence {
	display: none;
}

.navigationBar.slim.controlVisible .area2 {
	display: block;
}

.navigationBar.slim .control {
	display: block;
	position: absolute;
	top: 3px;
	right: 3px;
}

.navigationBar.slim .logo {
	height: 32px;
	width: 220px;
}

.navigationBar.slim .area1 {
	right: 40px;
}

.navigationBar.slim .area1 .signin {
	background: transparent;
	color: white;
	border-style: none;
	padding: 0px 2px 2px 2px;
	margin: 0px 0px 0px 10px;
	border-radius: 2px;
}
.navigationBar.slim .area1 .signin:hover {
	background: grey;
	cursor: pointer;
}

.controlMenu.distinctThickBorder {
	top: 36px;
	right: 0px;
	position: absolute;
	background: white;
	z-index: 200;
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
	border-bottom-left-radius: 5px;
	padding: 5px;
	overflow: hidden;
	height: auto;
	width:340px
}

.controlMenu.distinctThickBorder .userBlock .label{
	display:none;
}
.controlMenu.distinctThickBorder .userBlock {
	padding-bottom: 10px;
}
.controlMenu.distinctThickBorder .imageAndAlternativesBlock {
	display: table;
	width: 100%;
	border-collapse:collapse;  
	border-bottom-style: solid;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.controlMenu.distinctThickBorder .imageAndAlternativesBlock>div {
	display: table-row;
}
.controlMenu.distinctThickBorder .profileImgNode {
	display: table-cell;
	width: 100px;
	padding-right:10px;
	border-right-style: solid;
}
.controlMenu.distinctThickBorder .alternativesNode {
	display: table-cell;
	vertical-align: top;
	padding-left:10px;
}

.controlMenu.distinctThickBorder a.link {
	text-decoration: none;
}
.controlMenu.distinctThickBorder a.link:hover {
	text-decoration: underline;
}

.controlMenu.distinctThickBorder .user{
	font-weight: bold;
}
.controlMenu.distinctThickBorder .languageBlock {
	float:right;
}

/*----------- Breadcrumbs -----------*/
.breadcrumbs {
	border-bottom-width: 5px;
	border-bottom-style: solid;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.breadcrumbs .ownerBar {
	padding: 0.3em;
	font-size: large;
	min-height: 1em;
}

.breadcrumbs .ownerBar .icon {
	vertical-align: middle;
	margin: 0px;
}

.breadcrumbs .ownerBar .icon.home {
	margin-left: 10px;
}

.breadcrumbs .bcNode {
	padding-left: 0.5em;
}

.breadcrumbs .bicon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=65)";
    filter:alpha(opacity=65);
    zoom:1;
    cursor: pointer;
    padding-right: 0.2em;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    margin-top: 1px;
}

.breadcrumbs .crumb {
	margin-left: 6px;
	float: left;
	display: inline-block;
}

.breadcrumbs .crumb span {
	vertical-align: middle;
}

.breadcrumbs .crumb span.icon {
	margin-left: 0.4em;
	margin-right: 0.3em;
}

.breadcrumbs .crumb .label,
.breadcrumbs .crumb .choices{
	border-width: 2px;
	border-style: outset;
	padding-left: 2px;
	padding-right: 2px;
	cursor: pointer;
}
.breadcrumbs .crumb .choices {
	margin-right: 6px;
}

.breadcrumbs .crumb .choices.pressed {
	border-style: inset;
	cursor: auto;
}

.breadcrumbs .crumb .choices .choiceslabel {
	font-size: xx-small;
}
.breadcrumbs .listMode {
	border-width: 2px;
	border-style: outset;
	cursor: pointer;
	margin-top: 2px;
	margin-bottom: 2px;
}

.breadcrumbs .listMode.CLI {
	float:right;
	margin-right: 0.3em;
}
.breadcrumbs .crumb .label.selected,
.breadcrumbs .listMode.selected {
	border-style: inset;
	cursor: auto;
}

.breadcrumbs .crumb.trail a,
.breadcrumbs .crumb.trail .menu {
    opacity:0.35;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=35)";
    filter:alpha(opacity=35);
}

.breadcrumbs .crumb.trail:hover a,
.breadcrumbs .crumb.trail:hover .menu{
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=100)";
    filter:alpha(opacity=100);
}

.breadcrumbs .crumb .label.select {
	border-right: 1x solid black;
}

.breadcrumbs .contextSelect {
	width: 8em;
}
.breadcrumbs>.bcNode>* {
	vertical-align: middle;
}

.breadcrumbsChoicesDialog div.choice:hover {
	color: white;
	background: blue;
}

.breadcrumbs .iconSeparator {
	display: inline-block;
	*display: inline;
    zoom:1;
	width: 1px;
	margin-left:0.3em;
	margin-right: 0.3em;
	height: 16px;
	background-repeat: no-repeat;
}

.breadcrumbs .crumbSeparatorRectangular {
	display: inline-block;
	*display: inline;
    zoom:1;
	width: 7px;
	height: 22px;
	background-repeat: no-repeat;
}

.breadcrumbs .crumbSeparatorArrow {
	display: inline-block;
	*display: inline;
    zoom:1;
	width: 14px;
	height: 22px;
	background-repeat: no-repeat;
}
.breadcrumbs .crumbSeparatorArrow div{
	width: 14px;
	height: 22px;
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAWCAYAAADwza0nAAAAAXNSR0IArs4c6QAAAAZiS0dEAAAAAAAA+UO7fwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sMHRcCDh9J3n8AAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAA5klEQVQ4y4XUPy4EQBQH4PFviaxEJWrFRmwlCofgAAoair3AHkOj3FqEaBSOIUJHFEqJSoEIhU+zmsnbeS+ZZjJf3mRmflNwiFKNdXxoVBkv6Af4KIPwgG6ALzIIlwHs4jGDMAjwFr4z+IXNAA8zCE9YquAUrjMI50HXFbxkEPYCvIvfDL5hLcAnGYQbzFVwHnfTpV2zpZSZaq5TSllsdXxHL9jqWbbVgwDtZ6c6yhITwXssVKiD29YD+MRG0O04e3JRqHf+L30SPA3QKl5bsXrGcgCvWkH+wXaABtnXMQxQf5zNifUHJJwjXOWzlD4AAAAASUVORK5CYII=);
}