@import "../../../lib/dojo/dijit/themes/tundra/tundra.css"; /* required when dijit */	
@import "../../../lib/dojo/dojo/resources/dojo.css";
@import "../../../src/rforms/view/resources/rforms.css";
@import "../../../lib/dojo/dojox/image/resources/image.css"; /*some problem in this css file*/
@import "../../../lib/dojo/dojox/form/resources/FileInput.css"; /*some problem in this css file*/
@import "../../../lib/dojo/dojox/layout/resources/ExpandoPane.css"; 
@import "../../../lib/dojo/dojox/form/resources/BusyButton.css";
@import "../../../lib/dojo/dojox/grid/resources/tundraGrid.css";
@import "../create/create.css";

@import "../../../lib/dojo/dojox/editor/plugins/resources/css/Save.css";
@import "../../../lib/dojo/dojox/editor/plugins/resources/css/Preview.css";
@import "../../../lib/dojo/dojox/editor/plugins/resources/css/ShowBlockNodes.css";
@import "../../../lib/dojo/dojox/editor/plugins/resources/css/InsertEntity.css";
@import "../../../lib/dojo/dojox/editor/plugins/resources/css/PageBreak.css";
@import "../../../lib/dojo/dojox/editor/plugins/resources/css/Breadcrumb.css";
@import "../../../lib/dojo/dojox/editor/plugins/resources/css/FindReplace.css";

@import "../list/list.css";
@import "../navigation/navigation.css";

html, body {
	background: #fff;
	color: #000;
	height: 100%;
	overflow-y: hidden;
}

.simpleFolio {
	width: 100%;
	height: 100%;
}

.confolio {
	height: 100%;
}

.mainPanel {
	margin: 7px;
}
.confolioPanel {
	width: 100%;
	height: 100%;
}

.folioTreeLabelSelected {
	padding-left: 3px;  
	padding-right: 3px;
	border-width: 1px !important;  
}

a, .link {
	cursor: pointer;
	color: #000;
}

a:hover, .link:hover {
	text-decoration: underline;
}

/*------------Splash-----------------------*/
#splash {
	z-index: 100;
	width: 100%;
	height: 100%;
	position: absolute;
	background: white;
	text-align: center;
}
#splash .loadingIcon {
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
}

/*--------------Overview-----------------*/
.dojoxExpandoPane .contextSelect {
	width:80%;
	font-weight: normal;
}


/*----------Details-------------*/
.details {
	margin: 0px;
	padding: 0px;
}

.details .uglyFix {
	overflow: inherit;
}

.details .top, .details .center, .details .bottom  {
	margin: 0px;
}

.details .resourceSpace {
	width: 50%;
	overflow: hidden;
}
.details .url {
	white-space: nowrap;
	white-space:nowrap;
}

.details .center img,
.details .top .resource img {
	vertical-align: middle;
}

.details .top .resource {
	white-space: nowrap;
	border-top-width: 1px;
	border-right-width: 1px;
	min-width: 10em;
/*	-moz-border-radius-topright:5pt;*/
	padding-left: 2px;
	padding-right: 2px;
	vertical-align: middle;
}
.details .top .url {
	overflow: hidden;
	padding-left: 2px;
	padding-right: 2px;
}

.details .resourceSpace {
	bottom: 0px;
	position: absolute;
}

.details .center .extInfoPane > div:FIRST-CHILD, 
.details .center .locInfoPane > div:FIRST-CHILD {
	border-bottom-width: 1px;
}

.details .title{
	font-weight: bold;
}

.details .top .icon  img {
	width:50px;
	height:50px;
}
.details .top .license  img {
	width:16px;
	padding-right: 1px;
}

/* Set textcontent in details AccordionContainer */
.details .containedText p{
	margin: 5px
}

.details .tooltipmenu {
	margin: 10px;
	border: 3px;
}

.overView {
	margin: 7px;
}

.tundra .dijitTextArea {
	padding-left: 0px;
	padding-right: 0px;
}


/* Hide first level in shame forms */
.shameRoot > tbody > .shameGroupHead {
	display: none;
}
.shameRoot > tbody > tr > .shameIndent {
	padding: inherit;
}

.details .shameDiv {
	height: 100%;
	overflow: auto;
}

.details .center .bottom {
	width: 100%;
	white-space: nowrap;
	border-top-width: 1px;
	padding-left: 2px;
	padding-right: 2px;
	vertical-align: middle;
	font-size: x-small;
}

.iconOverview {
	overflow: auto;
}

.iconOverview a {
	float:left;
	padding-right: 8px;
	padding-left: 8px;
	padding-top: 3px;
	border: 1px solid transparent;
	margin-bottom: 5px;
	position: relative;
	display: inline-block;
}

.iconOverview a img {
	width: 60px;
}

.tundra .overView .dijitTabPaneWrapper {
	border-width: 0px;
}

.annotationprofileeditor .editTab {
	border-width: 1px;
	border-style: solid;
	border-left-width: 0px;
}

.annotationprofileeditor .editTabEditStateButtons {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

/*  Pagination */
.pagination {
	text-align: center;
	padding-bottom: 2px;
}
.pagination .pagStart,
.pagination .pagPrev,
.pagination .pagNext,
.pagination .pagEnd {
	cursor:pointer;
	text-decoration:underline;
}

.pagination .pagPages span {
	cursor:pointer;
	text-decoration:underline;
}

.pagination.atStart .pagStart,
.pagination.atStart .pagPrev,
.pagination.atEnd .pagNext,
.pagination.atEnd .pagEnd,
.pagination .pagPages span.selectedPage,
.pagination.unknownSize .pagEnd {
	cursor:none;
	text-decoration:none;
}

.tundra .dijitInputField input,
.tundra .dijitTextBox,
.tundra .dijitComboBox,
.tundra .dijitSpinner {
	margin: 0;
}

/*.dijitTabContainerBottom-container, 
.dijitTabContainerTop-container, 
.dijitTabContainerLeft-container, 
.dijitTabContainerRight-container{
	overflow: auto;	
}*/

/* Insert content of arrow button here explicity or button will not be shown in Opera
 (when that bug has been fixed in dojo, the following should be removed) */
.dijitArrowButton {
	content: "▼"; vertical-align: middle;
}

/* Ensure proper positioning for the application (needed in Opera) */
.confolioPanel {
	float: left;
}

.refreshBtn{
	background-image: url(../../folio/icons_oxygen/16x16/view-refresh.png);
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
}


/* Entry/Details */

.entryDetails .footer {
	font-size:x-small;
	white-space:nowrap;
	border-top-width: 1px;
	border-top-style: solid;
	padding-top: 2px;
	padding-left: 2px;
}

.entryDetails .header {
	font-size:x-small;
	border-bottom-style: solid;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 2px;
}

.entryDetails .header img {
	vertical-align:text-bottom;
}

.entryDetails .resizableContent {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.entryDetails .contentViewSwitcher {
	text-align: center;
}

.entryDetails .contentViewSwitcher .contentIcon {
	width: 128px;
	position: relative;
	left: 50%;
	margin-left: -64px;
}

.entryDetails .extInfoPane>h3,
.entryDetails .locInfoPane>h3 {
	display: none;
	margin-left: 0.3em;
}

.entryDetails .linkReference .extInfoPane>h3,
.entryDetails .linkReference .locInfoPane>h3 {
	display: block;
}

.entryDetails .linkReference .extInfoPane>div,
.entryDetails .linkReference .locInfoPane>div {
/*	margin-left: 1em;  
 * Ignored since it looks better without with rforms. */
}

.entryDetails .locInfoPane h3{
	margin-top: 0;
}

.entryDetails .imgPreview {
	float: right;
	margin-right: 0.5em;
}

.entryDetails .referentsImg {
	float:left;
	margin-left: 3px;
	margin-right: 5px;
}

.entryDetails .referentsSeparator {
	margin-left: 24px;
	margin-right: 24px;
	border-top-width: 1px;
	border-top-style: solid;
	margin-top: 12px;
	padding-top: 5px;	
}

.entryDetails .resource, 
.entryDetails .referentsList a {
	font-weight: bold;
}

.referentsList a {
	text-decoration: underline;
	color: grey;
	cursor: default;
	text-decoration: none;
}

.referentsList a.clickable{
	text-decoration: underline;
	color: black;
	cursor: pointer;
}

/* Tree */
.tree .expander {
	position: absolute;
	z-index: 200;
	top: 0;
	background: white;
	overflow-y: auto;
	border-right-style: solid;
	border-right-width: 1px;
	display: inline-block;
}

.tree .treeContainer {
	padding: 7px;
	padding-top: 15px;	
}

.tree .expander .pushpin {
	float: right;
	position: relative;
	top: -10;
}

.tree .pushpin {
	float: right;
	margin-top: -13px;
}

/* ViewMap */

.viewMap .inline {
	display: inline-block;
}

.viewMap .breadCrumbs .view {
	text-decoration: underline;
	cursor: default;
}
.viewMap .breadCrumbs .view.current {
	text-decoration: none;
}
.viewMap .breadCrumbs .separator {
	padding-right: 0.3em;
	padding-left: 0.3em;
}

.viewMap.widescreen {
	height: 100%;
}

/*----------------- Startpage------------------*/
.start .greeting {
	display: inline-block;
	background: white;
}
.start .greeting h1 {
	font-size: xx-large;
	width: 100%;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
.start .greeting p {
	font-size: larger;
	margin-bottom: 0.3em;
}

.start .startButtons {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	white-space: nowrap;
	height:40px;
}

.start a.startButton:first-child {
	margin-right: 2em;
}

.start a.startButton {
	display:inline-block;
	position: relative;
	text-decoration: none;
}

.start .startButton {
	width: 10em;
	height:auto;
}
.start .startButton>span {
	-moz-border-radius: 10px 10px 10px 10px;
	background-color:#00CC00;
	font-size: large;
	position: absolute;
	z-index: 100;
	width: 100px;
	height: 25px;
	top: 8px;
	left: 0px;
	text-align: center;
}

.confolio .largerText.searchField {
	color: black;
}

.start .search,
.start .greeting,
.start .latestMaterial {
	margin: 0px;
	padding: 20px;
	background: white;
}
.start .greeting {
	margin-bottom: 0px;
	padding: 3em;
}

.start .latestMaterial {
	margin-left: 0px;
}

.start .roundHeader .searchField {
	width: 9em;
}

.start .latestMaterial {
	width: 50%;
}

.start .includes {
	margin-left: 1em;
}

.start .includes label {
	margin-right: 0.3em;
}

/*-------SimpleSearchList--------*/
.confolio .simpleSearchList .contentRow {
	margin-bottom: 4px;
	border-bottom-style: solid;
	min-height: 2em;
}

.confolio .simpleSearchList .contentRow a {
	font-weight: bold;
}

.confolio .simpleSearchList .contentRow .modified {
	float: right;
}
.confolio .simpleSearchList .contentRow .description {
	margin: 0px;
	padding: 0px;
}
.confolio .simpleSearchList .contentRow .iconCls {
	float: left;
	width: 18px;
	height: 18px;
	padding-right: 5px;
}
.confolio .resultCounter {
	float:right;
}

/* ------UserProfile---------*/
.confolio.userProfile .profile,
.confolio.userProfile .rights,
.confolio.userProfile .latestMaterial {
	margin: 0px;
	padding: 10px;
	background: white;
}
.confolio.userProfile .latestMaterial {
	margin-left: 0px;
}
.confolio.userProfile .latestMaterial {
	width: 50%;
}

.confolio.userProfile .profile>div {
	padding: 1em;
}

.confolio.userProfile .profile .profileInfo {
	margin-left: 140px;
	min-height: 110px;
}
.confolio.userProfile .profile .profilePicture {
	position: absolute;
	left: 20px;
}

.confolio.userProfile .rights .groupsHeader {
	margin-top: 0px;
}

.confolio.userProfile .userImage,
.confolio.userProfile .groupImage,
.confolio.userProfile .homeContextImage {
	background-repeat: no-repeat;
	height: 32px;
	width: 32px;
	margin-right: 0.5em;
}

.confolio.userProfile .userImage {
	background-image: url(../../folio/icons_oxygen/32x32/user.png);
}
.confolio.userProfile .groupImage {
	background-image: url(../../folio/icons_oxygen/32x32/users2.png);
}
.confolio.userProfile .homeContextImage {
	background-image: url(../../folio/icons_oxygen/32x32/book.png);
}

.confolio.userProfile .profile h1 {
	font-size: x-large;
	padding: 0px;
	margin: 0px;
	margin-bottom: 0.3em;
}

/*------Help view--------------------------*/
.confolio.help {
	font-size: larger;
}

.confolio.help .helpOverview {
	margin: 1em;
}

.confolio.help .helpContent {
	padding-left: 2em;
	padding-right: 2em;
}

/*---------Search View------------------------------*/
.confolio.search .searchForm {
	width: 35%;
}

.confolio.search .searchLogo {
	margin-top: 2em;
	margin-left: 1em;
}

/*------IconTitleRow, used in start, userProfile and groupProfile-------------*/
.confolio .iconTitleRow {
	margin-left: 0.3em;
	margin-bottom: 0.3em;
}
.confolio .iconTitleRow img {
	width: 24px;
	height: auto;
}
.confolio .iconTitleRow a {
	display: inline-block;
	vertical-align: top;
	margin-top: 0.6em;
	margin-left: 0.4em;
}

.confolio .roundPane {
	margin: 0px;
	padding: 20px;
	background: white;
}

.confolio .roundPane.noLeftMargin {
	margin-left: 0px;
}
.confolio .roundHeader {
	border-bottom: 5px solid #8996bb;
	padding: 3px;
	padding-left: 15px;
	margin-bottom: 3px;
	margin-top: 1em;
}

.confolio .largerText {
	font-size:larger;	
	font-weight: bold;
	vertical-align: middle;
}

.confolio .invertedText {
}
.confolio .roundBody {
	margin-left: 15px;
	margin-right: 5px;
}

.confolio .group {
	position: relative;
	padding: 0.5em;
	border-width: 1px;
	border-style: solid;
	padding-left: 0.8em;
	padding-top: 0.8em;
	margin-top: 1.4em;
/*	margin-left: -0.7em;*/
	overflow-x: auto;
}
.confolio .groupHeader {
	position: relative;
	display:inline;
	z-index: 100;
	top: +1.9em;
	left: 0.5em;
	background: white;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-left: 0.5em;
	font-weight: bold;
}

/* ----------Temporary fix for signup------------------*/
.signup {
	font-size: large;
}

.signup .signupForm,
.signup .message {
	margin-left: auto;
	margin-right: auto;
	padding: 2em;
}

.signup .reqfield {
	color: red;	
}

.signup .infoheader {
	padding: 3px;
	font-size:1.3em;
	background: #d8dee5;
}

.signup .infoheader td {
	padding: 3px;
}
	
.signup .inforow td {
	padding: 1px;	
}

.signup .buttonrow td {
	padding-bottom: 6px;
}

.signup .error {
	font-size: 0.8em;
	color: red;
}

/*-------------------Chooser for rforms---------------*/
.rforms.chooser .searchField {
	width: 95%;
	padding-left: 0%;
	margin-top: 10px;
	font-size: medium;
	margin-bottom: 10px;
}
