@import url("../icons.css");

.viewController .navigationBar {
	position: relative;
}

.siteMap {
	position: relative;
	height: 100%;
}

.siteMap .viewControllerWrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
}

.siteMap .viewMapWrapper {
	position: absolute;
	top: 40px;
	left: 0px;
	width: 100%;
	bottom: 0px;
}


/* ============= Really small displays ============= */
@media (max-width: 500px) {
	body {
		padding: 0px;
	}
	.navigationBar .appName {
		display: none;
	}
	.navigationBar .searchField {
		width: 160px;
	}
	.viewMap {
		width: auto;
	}
	.viewController {
		width: auto !important;
		top: 0px;
		left: 0px;
		right: 0px;
		position: fixed;
	}
}
	
/* ============= Small displays ==================== */
@media (max-width: 767px) and (min-width: 500px){
	body {
		padding-right: 20px;
		padding-left: 20px;
	}
	.viewMap {
		width: auto;
	}
	.viewController {
		width: auto !important;
		top: 0px;
		left: 0px;
		right: 0px;
		position: fixed;
	}
}

/* ============ Medium displays ==================== */
@media (max-width: 979px) and (min-width: 768px) {
	.viewMap, .viewController {
		width: 724px;
		max-width: 100%;
	}
}
/* ============ Medium large displays ==================== */
@media (min-width: 980px) and (max-width: 1199px) {
	.viewMap, .viewController {
		width: 940px;
		max-width: 100%;
	}
}


/* ============ Large displays ======================= */
@media (min-width: 1200px) {
	.viewMap, .viewController {
		width: 1170px;
		max-width: 100%;
	}
}

.viewMap, .viewController {
	margin-left: auto;
	margin-right: auto;
}

.viewController, .viewControllerWrapper {
	background: black;
}

/* ===========Brighten icons in navigationbar since they are on black background now.=======*/
.siteMap .viewController .icon {
    opacity:0.85;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=85)";
    filter:alpha(opacity=85);
}

.siteMap .viewController .icon:hover {
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=100)";
    filter:alpha(opacity=100);
    zoom:1
}


/*Logo should be < 240x60*/
.navigationBar .logo {
	background:transparent url('logo.png') no-repeat top left;
}

.navigationBar.slim .logo {
	background:transparent url('logo-small.png') no-repeat top left;
}

.navigationBar .appName {
	left: 95px;
	color: white;
}

.navigationBar .appSentence {
	left: 95px;
	color: white;
}


.navigationBar .appName:after {
	content: "EntryScape";
}

.navigationBar .appSentence:after {
	content: "Organize and share your online content";
}

/* Generic approach for themes*/
.confolio.search.column1 .groupHeader,
.distinctBackground {
	background: #EEE;
}
.distinctThickBorder {
	border-color: #EEE;
	border-width: 5px;
}
.distinctThinBorder {
	border-color: #EEE;
	border-width: 1px;
}

.thinBorder {
	border-color: lightgrey;
	border-width: 1px;
}
.thickBorder {
	border-color: lightgrey;
	border-width: 5px;
}
/* Generic approach end*/

.navigationBar .label, .navigationBar .link {
	color: grey;
}
.navigationBar .dijit {
	color: black;
}
.confolio {
	background: white;
}

/* Loading icon used in splash*/
.loadingIcon {	
	width: 32px;height: 32px;
	background:transparent url('../blueish.gif') no-repeat top left;
}

/*Skelleton*/
.tundra .dijitSplitterV, .tundra .dijitSplitterH,
.confolioPanel {
	background: #EEE;
}

/* Borders*/
.iconOverview a.selected,
.annotationprofileeditor .editTab,
.annotationprofileeditor .editTabEditStateButtons,
.breadcrumbs .crumb,
.breadcrumbs .listMode,
.breadcrumbs,
.listChildren .iconView.selected {
	border-color: #EEE;	
}

/*Background*/
.mainPanel,
.shamePresentationMode .shameValue {
	background: white;
}


/*Selection*/
.cleanList.listView .selected,
.folioTreeLabelSelected,
.iconOverview a.selected,
.breadcrumbs .crumb .label.selected,
.breadcrumbs .listMode.selected,
.breadcrumbs .crumb .choices.pressed,
.listChildren .iconView.selected,
.confolio .rforms .topLevel {
	background: #FAFAD2; /*lightGoldenrodYellow*/
}


.listView *,
.details *,
.listView .butsCls *,
.folioTreeLabelSelected,
.shameRoot {
	border-color: lightgrey;
	border-style: solid;
	border-width: 0px;
}

.listView .listHead,
.listView .listControls,
.details .top .resourceSpace,
.details .top .url,
.details .center .bottom {
	background: #EEE;
}

.details .center .extInfoPane > div:first-child, /*first-child selectors separate because of ie6*/
.details .center .locInfoPane > div:first-child {
	background: lightgrey;
}


.editStateColor .missing .shameLabel,
.missing>.shameLabel {
	background: red;	
}

.editStateColor .mandatory>.shameLabel,
.annotationprofileeditor .editStateColor .editTabEditStateButtons .mandatory {
	background: #A68253;
}

.editStateColor .recommended>.shameLabel,
.annotationprofileeditor .editStateColor .editTabEditStateButtons .recommended {
	background: #BF9F73;
}

.editStateColor .optional>.shameLabel,
.annotationprofileeditor .editStateColor .editTabEditStateButtons .optional {
	background: #E1D9CD;
}
