@import url("../icons.css");

/* Brownish style uses the following colours:
   white - as background
   dark brown (#A68253) - the skelleton of the application.
   light brown (#BF9F73) - current folder, some labels etc.
   vaguely brown (#E1D9CD) - selections.
*/ 

/*Logo should be < 240x60*/
.navigationBar .logo {
	background:transparent url('banner.png') no-repeat center left;
	width: 660px;
	height: 64px;
	margin-bottom: 0px;
	margin-left: 1em;
}

/* Generic approach for themes*/
.confolio .distinctBackground {
	background: lightgray;
}
.confolio .invertedText{
	color:white;
}
.confolio .thinBorder {
	border-color: gray;
	border-width: 1px;
}
.confolio .thickBorder {
	border-color: #8996bb;
}
/* Generic approach end*/

.navigationBar .label, .navigationBar .link {
	color: white;
}
.navigationBar .dijit {
	color: black;
}
.viewController, .confolio {
	background: #4a6593;
}
.viewController, .confolio .navigationBar{
	background:url('header-background.jpg') repeat-x 0 0;
}
/* Overwriting the declaration done in clean.css */
.confolio .roundHeader {
	background: url('footer-bg-rep.gif');
	border-radius: 3px;
	-moz-border-radius: 3px;
	border-bottom: 0px;
	margin-bottom: 5px;
	margin-top: 0px;
}

/* Loading icon used in splash*/
.loadingIcon {	
	width: 126px;height: 126px;
	background:transparent url('progress.gif') no-repeat top left;
}

/*Skelleton*/
.tundra .dijitSplitterV, .tundra .dijitSplitterH,
.confolioPanel {
	background: #4a6593;
}

/*Background*/
.mainPanel,
.shamePresentationMode .shameValue {
	background: white;
}

/*Selection*/
.cleanList.listView .selected,
.folioTreeLabelSelected,
.iconOverview a.selected,
.breadcrumbs .crumb .label.selected,
.breadcrumbs .listMode.selected,
.breadcrumbs .crumb .choices.pressed,
.listChildren .iconView.selected {
	background: #f1e6e6;
}

/* Borders*/
.iconOverview a.selected,
.annotationprofileeditor .editTab,
.annotationprofileeditor .editTabEditStateButtons,
.breadcrumbs .crumb,
.breadcrumbs .listMode,
.breadcrumbs,
.listChildren .iconView.selected {
	border-color: #4a6593;	
}

.listView *,
.details *,
.listView .butsCls *,
.folioTreeLabelSelected,
.shameRoot {
	border-color: gray;
	border-style: solid;
	border-width: 0px;
}

.listView .listHead,
.listView .listControls,
.details .top .resourceSpace,
.details .top .url,
.details .center .bottom {
	background: lightgrey;
}

.details .center .extInfoPane > div:first-child, /*first-child selectors separate because of ie6*/
.details .center .locInfoPane > div:first-child {
	background: #d8dee5;
}


.editStateColor .missing .shameLabel,
.missing>.shameLabel {
	background: red;	
}

.editStateColor .mandatory>.shameLabel,
.annotationprofileeditor .editStateColor .editTabEditStateButtons .mandatory {
	background: #A68253;
}

.editStateColor .recommended>.shameLabel,
.annotationprofileeditor .editStateColor .editTabEditStateButtons .recommended {
	background: #BF9F73;
}

.editStateColor .optional>.shameLabel,
.annotationprofileeditor .editStateColor .editTabEditStateButtons .optional {
	background: #E1D9CD;
}

div.commentPane {
	position: relative;
	overflow: auto;
	max-height: 300px;
	width: 100%;
}
/* Overwriting some styling in clean.css, 
 * for the start-, profile-, group- and start-page*/
.start .greeting {
	margin-left: 5px;
	margin-right: 0px;
	margin-top: 5px;
	margin-bottom: 0px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 1em;
}
.start .latestMaterial{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
}
.start .search {
	margin-left: 5px;
	margin-right: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
}
.confolio.userProfile .profile{
	margin-left: 5px;
	margin-right: 0px;
	margin-top: 5px;
	margin-bottom: 0px;
	border-radius: 3px;
	-moz-border-radius: 3px;
}
.confolio.userProfile .rights{
	margin-left: 5px;
	margin-right: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
}
.confolio.userProfile .latestMaterial{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
}
.confolio.search .searchForm{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	width: 50%;
}
.confolio .roundPane.noLeftMargin {
    margin-left:0;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
}
.start .startButton{
	background:url(images/preview-left-img.gif) no-repeat left top;
	height: 32px;
	width: 100px;
	padding:0 0 0 20px;
}

.start a.startButton span{
	background:url(images/preview-right-img.gif) no-repeat right top;
	color:#FCFCFC;
	top:0px;
	display:block;
	font-size:15px;
	font-weight:bold;
	padding: 5px 27px 0 0;
	height: 32px;
}
/* Additional Style CSS Document ================================================================================ */


/*HEADER CONTENT*/
.logo-wrapper {
	float:left;
	width:393px;
}
/*MAIN CONTENT*/
.content-wrapper {
	width:905px;
	background:#ffffff;
	margin:0 auto;
	overflow:hidden;
	padding:27px 30px 0 25px;
}
.welcome-text {
	margin:0;
	padding:5px 0 0 0;
}
.welcome-text h2 {
	font-size:24px;
	color:#666666;
	font-weight:bold;
}
.welcome-text p {
	font-size:15px;
	color:#666666;
	margin:20px 0 0 0;
	line-height:20px;
}
.categories {
	margin:25px 0 0 0;
	overflow:hidden;
}
.categories ul li {
	background:url(images/bullet.gif) no-repeat 0 7px;
	float:left;
	padding:0 14px 0 12px;
	width:229px;
	font-size:13px;
	color:#003366;
	font-weight:bold;
}
.preview {
	float:right;
	margin:30px 108px 0 0;
	width:auto;
}
.preview a {
	background:url(images/preview-left-img.gif) no-repeat left top;
	height:32px;
	float:right;
	padding:0 0 0 20px;
	display:block;
	text-decoration:none;
	cursor:pointer;
}
.preview a span {
	background:url(images/preview-right-img.gif) no-repeat right top;
	height:32px;
	display:block;
	font-size:15px;
	font-weight:bold;
	color:#fcfcfc;
	padding:0 49px 0 0;
	line-height:32px;
	float:left;
}
.form-wrapper {
	padding:0;
	margin:35px 0 0 0;
	width:471px;
}
.form-mid {
	background:url(images/form-bg-rep.gif) repeat-y 0 0;
	width:471px;
	padding:10px 0 28px 0;
}
.form-mid div {
	padding:5px 0 0 45px;
	overflow:hidden;
}
.form-mid div.loginErrMsg{
	font-weight:bold;
}
.form-mid div label {
	width:94px;
	float:left;
	text-align:right;
	padding:0;
	margin:2px 0 0 0;
}
.form-mid div .dijitTextBox {
	padding:0;
	margin:0 0 0 5px;
	width:238px;
	height:16px;
	border:1px solid #999999;
	padding:2px;
	line-height:16px;
}

.form-mid div .dijitTextBox .dijitInputField{
	padding:0;
}

.form-mid div.checkbox {
	padding:0 0 0 143px;
	margin:5px 0 0 0;
}
.form-mid div.checkbox .dijitCheckBox {
	float:left;
	margin:0;
	padding:0;
	width:16px;
	margin:5px 0 0 0;
	border:0px;
}
.form-mid div.checkbox label {
	width:178px;
	float:left;
	color:#666666;
	margin:4px 0 0 0;
}
.form-mid div.checkbox label a {
	color:#666666;
}
.form-mid div.buttons {
	margin:10px 0 0;
	padding:0 0 0 143px;
	overflow:hidden;
	clear:both;
}
.form-mid div.buttons button {
	border:0px;
	background:none;
	float:left;
	margin:0 0 0 22px;
	padding:0;
	cursor:pointer;
}
.form-mid div.buttons span {
	background:url(images/button-left.gif) no-repeat 0 0;
	height:25px;
	padding:0 0 0 14px;
	display:block;
}
.form-mid div.buttons span span {
	background:url(images/button-right.gif) no-repeat 100% 0;
	height:25px;
	padding:0 39px 0 25px;
	display:block;
	line-height:25px;
	font-weight:bold;
	color:#606060;
	font-size:11px;
}
.form-mid div.buttons a {
	float:left;
	margin:0 0 0 0;
	color:#666666;
	margin:3px 0 0 0;
}
#video {
	margin:0 0 70px 0;
}
.right-content {
	margin:0;
	padding:10px 0 0 0;
}
.right-content h2 {
	font-size:12px;
	font-weight:bold;
	color:#999999;
	margin:0;
}
.right-content p {
	font-size:12px;
	font-weight:normal;
	color:#999999;
	line-height:15px;
}
.right-content-buttons {
	display:block;
	float:right;
	margin:10px 20px 0 0;
	padding:0;
}
.right-content-buttons ul {
	width:auto;
	margin:0;
}
.right-content-buttons ul li {
	float:left;
	padding:0 11px;
	width:auto;
}
.right-content-buttons a {
	background:url(images/button-left.gif) no-repeat left top;
	height:25px;
	display:block;
	float:left;
	padding:0 0 0 22px;
	text-decoration:none;
	cursor:pointer;
}
.right-content-buttons a span {
	background:url(images/button-right.gif) no-repeat right top;
	height:25px;
	display:block;
	padding:0 22px 0 0px;
	line-height:22px;
	font-size:12px;
	font-weight:bold;
	color:#5f5f5f;
	float:left;
}
.hnet .footer-top {
	background:url(images/footer-bg-rep.gif) repeat-y 0 0;
	margin:0 auto;
	width:960px;
	padding:6px 0;
	overflow:hidden;
}
.hnet .footer-left {
	float:left;
	width:auto;
}
.hnet .footer-left ul li {
	float:left;
	padding:0 19px 0 0;
}
.hnet .footer-text {
	float:left;
	margin:0 auto;
	padding:0 0 0 20px;
	width:600px;
}
.hnet .footer-text p {
	margin:0;
	padding:0;
	font-size:11px;
	font-weight:normal;
	color:#fcfcfc;
	line-height:13px;
	text-align:center;
}
.hnet .footer-right {
	float:right;
	width:auto;
}
.hnet .footer-bottom {
	margin:0 auto;
	width:960px;
	padding:10px 0;
}
.hnet .footer-bottom span {
	text-decoration:none;
	font-size:10px;
	color:#999999;
}

@charset "utf-8";
/* Page Layout ================================================================================ */
.wrapper {	min-width:1002px;}
.page { }
/* Header layout not needed!*/
/* Header Layout ================================================================================ 
.header-container {
	background:url(images/header-background.jpg) repeat-x 0 0;
	height:87px;
	border-bottom:0px solid #415966;
	border-top:0px solid #0D2131;
}

.header {
	background:url(images/header-bg-trans.png) no-repeat 0 0;
	height:48px;
	margin:0 auto;
	padding:18px 42px 21px 29px;
	text-align:left;
	width:911px;
}*/

/* Navigation Layout ================================================================================ */
.nav-container {background:none;}
.navigation { 
	background: #80a9c6;
	margin:0 auto;
	padding:0px;
	width:982px;
}

/* Main Container Layout ================================================================================ */
.main-container {	background:none;}
.main {
	background:url(images/maincontent-bg-trans.png) no-repeat 0 0;
	margin:0 auto;
	/*min-height:866px;*/
	padding:0px;
	text-align:left;
	width:982px;
}
.col-main {
	background-color:none;
	float:left;
	padding:0;
	width:510px;
}
.col2-right-layout .col-main { }
.col-right {
	background-color:none;
	float:right;
	padding:0;
	width:363px;
}
.side-col { }
.sidebar { }

/* Footer Layout ================================================================================ */
.footer-container {	border-top:0px solid #B6D1E2;}
.hnet .footer {
	background:none;
	margin:40px auto 0;
	padding:0px;
	width:982px;
}

.form-mid form div.buttons button
{
*overflow:visible!important;
}
/* Reset CSS Document ================================================================================ */
* {
	margin:0;
	padding:0;
}
body {
	background:none;
	color:#2f2f2f;
	font:12px/1.55 Arial, Helvetica, sans-serif;
}
img {
	border:0;
	vertical-align:top;
}
a {
	color:#1e7ec8;
	text-decoration:underline;
}
a:hover {text-decoration:none;}
:focus {outline:0;}

/* Headings ================================================================================ */
h1, h2, h3, h4, h5, h6 {
	color:#0a263c;
	line-height:1.35;
	margin:0 0 5px;
}
h1 {
	font-size:20px;
	font-weight:normal;
}
h2 {
	font-size:18px;
	font-weight:normal;
}
h3 {
	font-size:16px;
	font-weight:bold;
}
h4 {
	font-size:14px;
	font-weight:bold;
}
h5 {
	font-size:12px;
	font-weight:bold;
}
h6 {
	font-size:11px;
	font-weight:bold;
}

/* Forms ================================================================================ */
form {display:inline;}
fieldset {border:0;}
legend {display:none;}

/* Table ================================================================================ */
table {
	border:0;
	border-spacing:0;
	empty-cells:show;
	font-size:100%;
}

caption, th, td {
	font-weight:normal;
	text-align:left;
	vertical-align:top;
}

/* Content ================================================================================ */
p {	margin:0 0 10px;}
strong {font-weight:bold;}
address {
	font-style:normal;
	line-height:1.35;
}
cite {font-style:normal;}
q, blockquote {	quotes:none;}
q:before, q:after {	content:'';}
small, big {font-size:1em;}
sup {
	font-size:1em;
	vertical-align:top;
}

/* Lists ================================================================================ */
ul, ol {list-style:none;}
/*Rforms-stuff*/
div.rformsTopLevel table.rformsGroup tr:hover{
	background:  #E6E6E6;
}
.rformsEditor table.rformsGroup{
	width:96%
}
th.rformsColumnHeader1{
	width: 20%
}
