.confolio.userProfile .profile_top {
	padding: 35px 80px 20px 80px;
	height: 120px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
-moz-border-bottom-right-radius: 6px;
	-moz-border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.confolio.userProfile .profilePicture {
	display: inline-block;
	max-height: 120px;
	min-height: 100px;
	padding: 4px;
	background-color: white;
	border: 1px solid lightgrey;
	line-height: 0px;
}

.confolio.userProfile .profilePicture img{
	max-height: 115px;
}

.confolio.userProfile .profileInfo {
	display: inline-block;
	vertical-align: top;
	padding: 5px 20px;
	height: 100%;
}
.confolio.userProfile .profileInfo h1 {
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	font-weight: bold;
	color: #333;
}

.confolio.userProfile .profileInfo .icon24 {
	vertical-align: middle;
	margin-left: 0px;
	margin-bottom: 2px;
}

.confolio.userProfile .profileInfo .icon24.home {
	margin-left: 20px;
}

.confolio.userProfile .profileInfo .profileDescription {
	font-size: large;
	margin: 5px 0px;
}

.confolio.userProfile .profile_left,
.confolio.userProfile .profile_right {
	position: absolute;
	top: 175px;
	bottom:0px;
	width: 50%;
}
.confolio.userProfile .profile_left {left: 0px;}
.confolio.userProfile .profile_right {right: 0px;}

.confolio.userProfile .profile_left .profile_left_content,
.confolio.userProfile .profile_right .profile_right_content {
	position: absolute;
	top: 80px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow-y: auto;
}

.confolio.userProfile button {
	border-width: 0px;
	text-decoration: none;
	padding: 10px 15px 10px;
	text-shadow: 0 1px 0 white;
	margin: 30px 10px 10px 0px;
	color: #555;
	background-color: transparent;
	cursor: pointer;
}

.confolio.userProfile button:hover {
	color: black;
}

.confolio.userProfile button.selected:hover {
	color: #555;
}

.confolio.userProfile button.selected {	
	background-color: #E5E5E5;
	-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.card {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	padding: 10px;
	margin-bottom: 20px;
	width: 115px;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	height: 180px;
	vertical-align: top;
	position: relative;
	text-align: center;
}

.card .img-wrap {
	max-width: 93%;
	min-height: 100px;
	line-height: 100px;
	text-align: center;
	margin-bottom: 0.3em;
	padding: 4px;
	background-color: white;
}

.card .img-wrap img {
	max-height: 82%;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	border: 0;
}